<%= form_for(@user, :url => '/profile/update', :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false -%>
  <div class="control-group">
    <%= f.label :id, :class => 'control-label' %>
    <div class="controls">
    <%= @user.id %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
    <%= @user.login %>
    </div>
  </div>

  <%= fields_for(@user.profile) do |sf| -%>
  <div class="control-group">
    <%= sf.label :name, :class => 'control-label' %>
    <div class="controls">
    <%= sf.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= sf.label :twitter_account, :class => 'control-label' %>
    <div class="controls">
    <div class="controls_row">
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= sf.text_field :twitter_account %>
      </div><!-- input-prepend -->
    </div>
    <div class="controls_row">
    <%= sf.check_box :include_twitter_account -%><%= sf.label :include_twitter_account, 'ツイートにリプライを含める。', class: 'checkbox inline' %>
    </div>
    </div>
  </div>
  <div class="control-group">
    <%= sf.label :introduction, :class => 'control-label' %>
    <div class="controls">
    <%= sf.text_area :introduction, :rows => 10, :cols => 50, style: 'width:300px;' %>
    </div>
  </div>
  <% end -%>

  <div class="actions control-group">
    <div class="controls">
    <%= f.submit class: 'btn' %>
    </div>
  </div>

<%= link_to 'アカウント情報を変更する', edit_user_registration_path %>
<% end %>
