<h2>Edit account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :password, 'New Password', :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %>
      <p><i>(leave blank if you don't want to change it)</i></p>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :current_password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :current_password %>
      <p><i>(we need your current password to confirm your changes)</i></p>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <div class="controls">
    <%= f.submit "Update", class: 'btn' %>
    </div><!-- controls -->
  </div><!-- control-group -->
<% end %>

<h3>Cancel my account</h3>

<div class="form-horizontal">
  <div class="control-group">
    <div class="controls">
    <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, class: 'btn btn-danger', :method => :delete %>.</p>
    </div><!-- controls -->
  </div><!-- control-group -->
</div>

<%= link_to "Back", :back %>
