<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :login, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :login, :autofocus => true %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
    <%= f.email_field :email %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :password, class: "control-label" %>
    <div class="controls">
    <%= f.password_field :password %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <div class="controls">
    <%= f.password_field :password_confirmation %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <div class="controls">
    <%= f.submit "Sign up", class: 'btn' %>
    </div><!-- controls -->
  </div><!-- control-group -->
<% end %>

<%= render "devise/shared/links" %>
