<tr>
  <td class="choice_toggle">
    <%= check_box_tag 'graph[select_choice][]', choice_table_row[1].label, choice_list.selected?(choice_table_row[1].label), {id: "select_choice_#{sprintf("%04d", choice_table_row_counter+1)}"} -%>
  </td>
<td class="table_number"><%= choice_table_row_counter + 1 -%></td>
<td class="span1"><%= choice_table_row[1].label %></td>
<%= render :partial => 'shared/cell', :collection => choice_table_row[1].cells %>
<td></td>
</tr>

