<div class="table_area">
<table class="table table-condensed">
<tr>
<th class="choice_toggle"></th>
<th class="table_number">No</th>
<th class="table_label">ラベル</th>
<%= render :partial => 'shared/head', :collection => choice_table.col_properties %>
<th></th>
</tr>
<%= render :partial => 'choice_table_row', :collection => choice_table.rows, locals: {choice_list: choice_list} %>
</table>
</div><!-- table_area -->
