<script type="text/javascript">
<% if @series_type == 'series' -%>
  var series_data = <%= raw @series.to_json_for_chart.to_json -%>;
<% elsif @series_type == 'series_collections' -%>
  var series_data = <%= raw @series.to_json_for_chart_with_option(@graph.get_series_option).to_json -%>;
<% end -%>
</script>

<% if @series_type == 'series' -%>
  <div id='chart_data_tmp' data-chart-tmp='<%= raw @series.to_json_for_chart.to_json -%>'></div>
<% elsif @series_type == 'series_collections' -%>
  <div id='chart_data_tmp' data-chart-tmp='<%= raw @series.to_json_for_chart_with_option(@graph.get_series_option).to_json -%>'></div>
<% end -%>

<%= form_for(@graph, html: {id: 'graph-form', class: 'form-inline'} )  do |f| %>
  <% if @graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
      <% @graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag :series_id, @series.id, :id => "series_id" -%>
<%= hidden_field_tag :series_type, @series_type, :id => "series_type" -%>
<%= hidden_field_tag :graph_id, @graph_id, :id => "graph_id" -%>
<%= hidden_field_tag :action_typ, @action_type, :id => "action_type" -%>

<%= f.hidden_field :graphable_id %>
<%= hidden_field_tag :graph_image %>

<div class="tabbable">
<%= render partial: 'tabs' -%>

  <div class="actions" style="margin-bottom:20px;">
    <% if @action_type == 'new' -%>
    <%= f.submit 'グラフ作成', class: 'btn' %>
    <%= button_tag 'テスト', onclick: "editChartConf('#{@series_type}',#{@graph.graphable_id})", type: 'button', class: 'btn' %>
    <% elsif @action_type == 'edit' -%>
    <%= f.submit 'グラフ作成', class: 'btn' %>
    <%= button_tag 'テスト', onclick: "editChartConf('graphs',#{@graph.id})", type: 'button', class: 'btn' %>
    <% end -%>
  </div>

<div class="tab-content">

<div id="graph_series_select" class="tab-pane active">
<fieldset>
  <legend>表示する系列の選択</legend>

<div id="all_series_options_toggle" class="controls_row">
<%= button_tag '全て開く', type: 'button', id: 'all_series_options_open', class: 'btn' %>
<%= button_tag '全て閉じる', type: 'button', id: 'all_series_options_close', class: 'btn' %>
</div>

<div id="graph_series_area">
<ul class="series_options">
<%= render :partial => 'series', :collection => @selected_series -%>
</ul>
</div><!-- graph_series_area -->

</fieldset>
</div><!-- graph_conf -->

<%= render :partial => 'graph_value_select', locals: {f: f, series: @series, graph: @graph, series_table: @series_table, choice_list: @choice_list} -%>

<div id="graph_common" class="tab-pane">
<fieldset>
  <legend>基本設定</legend>

<div class="form-horizontal">
<div class="control-group">
  <%= f.label :chart_type, 'グラフタイプ', :class => "control-label" %>
  <div class="controls">
  <%= f.select :chart_type, options_for_select([['線グラフ','line'], ['棒グラフ','bar'], ['積み上げグラフ','stacked'], ['面グラフ','area'], ['積み上げ面グラフ','stackedarea'], ['積み上げグラフ(%)','stacked%'], ['ベジェグラフ','bezi2'], ['円グラフ','pie'], ['散布図','scatter'], ['振幅グラフ','ampli']], @graph.chart_type), class: 'input-small' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :text_color, 'テキスト色', class: "control-label" %>
  <div class="controls">
  <%= f.text_field :text_color, class: 'color {required:false, hash:true} input-mini' -%>
  </div>
</div>
<div class="control-group">
  <%= f.label :title, 'タイトル', :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :title %>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'title'} -%>
  </div>
</div>
<div class="control-group">
  <%= f.label :sub_title, 'サブタイトル', :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :sub_title %>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'sub_title'} -%>
  </div>
</div>
<div class="control-group">
  <%= f.label :use_shadow, '影をつける', :class => "control-label" %>
  <div class="controls">
  <%= f.check_box :use_shadow %>
  </div>
</div>
<div class="control-group">
  <%= f.label :change_r_c, '行列を入れ替え', :class => "control-label" %>
  <div class="controls">
  <%= f.check_box :change_r_c %>
  </div>
</div>

</div><!-- div.form-horizontal -->

</fieldset>
</div><!-- graph_conf -->

<div id="graph_graph_area" class="tab-pane">
<fieldset>
  <legend>グラフ領域</legend>

<div class="form-horizontal">
<div class="control-group">
  <%= label_tag :graph_view, '表示要素', class: "control-label" %>
  <div class="controls">
  <%= select_tag :chart_area_select, options_for_select([['すべて表示', 'all'], ['グラフのみ表示', 'only_chart'], ['グラフとタイトルのみを表示', 'chart_and_title']], @graph.chart_area_select) %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :graph_size, 'グラフサイズ', class: "control-label" %>
  <div class="controls">
  <%= f.label :width, '幅' %> <%= f.text_field :width, class: 'input-mini', type: 'number' -%> <%= f.label :height, '高さ' %> <%= f.text_field :height, class: 'input-mini', type: 'number' -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :graph_padding, '余白', class: "control-label" %>
  <div class="controls">
  <%= f.label :padding_top, '上' %> <%= f.text_field :padding_top, class: 'input-mini', type: 'number' -%>
  <%= f.label :padding_bottom, '下' %> <%= f.text_field :padding_bottom, class: 'input-mini', type: 'number' -%>
  <%= f.label :padding_left, '左' %> <%= f.text_field :padding_left, class: 'input-mini', type: 'number' -%>
  <%= f.label :padding_right, '右' %> <%= f.text_field :padding_right, class: 'input-mini', type: 'number' -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :background, '背景', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
    <%= f.label :bg, '背景色' %> <%= f.text_field :bg, class: 'color {required:false, hash:true} input-mini' -%>
  </div>
  <div class="controls_row">
  方向<%= select_tag 'graph[bg_gradient][direction]', options_for_select([['上から下へ', 'vertical'], ['左から右へ', 'horizontal']], @graph.bg_gradient[:direction]) %>
  <%= label_tag 'graph[bg_gradient][from]', '開始色' %> <%= text_field_tag 'graph[bg_gradient][from]', @graph.bg_gradient[:from], class: 'color {required:false, hash:true} input-mini' -%>
  <%= label_tag 'graph[bg_gradient][to]', '終了色' %> <%= text_field_tag 'graph[bg_gradient][to]', @graph.bg_gradient[:to], class: 'color {required:false, hash:true} input-mini' -%>
  </div>
  </div>
</div>
<div class="control-group">
  <%= label_tag :use_marker, 'マーカー', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
  <%= f.select :use_marker, options_for_select([['無し','none'],['arc','arc'],['ring','ring'],['maru','maru'],['css-arc','css-arc'],['css-ring','css-ring'],['css-maru','css-maru']], @graph.use_marker) %>
  </div><!-- controls_row -->
  <div class="controls_row">
  <%= f.label :marker_width, '幅' -%> <%= f.text_field :marker_width, class: 'input-mini', type: 'number' -%>
  <%= f.label :border_width, '淵幅' -%> <%= f.text_field :border_width, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  </div>
</div>
<div class="control-group">
  <%= label_tag :graph_option, 'オプション', class: "control-label" %>
  <div class="controls">
  <div>
  <%= f.check_box :use_val %> <%= f.label :use_val, 'グラフに値を表示する' %>
  </div><div>
  <%= f.check_box :percent_val %> <%= f.label :percent_val, 'グラフの値をパーセント表示する' %>
  </div><div>
  <%= f.check_box :use_tool_tip %> <%= f.label :use_tool_tip, 'ツールチップを使う' %>
  </div>
  </div>
</div>
</div><!-- div.form-horizontal -->
</fieldset>
</div><!-- graph_conf -->

<div id="graph_axis" class="tab-pane">
<fieldset>
  <legend>軸・メモリ</legend>

<div class="form-horizontal">

  <h4>X軸</h4>
<div class="control-group">
  <%= label_tag :axis_y, '垂直線書式', class: "control-label" %>
  <div class="controls">
  <%= f.label :axis_y_width, '線幅' %> <%= f.text_field :axis_y_width, class: 'input-mini', type: 'number' -%>
  <%= f.label :axis_y_len, '本数' %> <%= f.text_field :axis_y_len, class: 'input-mini', type: 'number' -%>
  <%= f.label :y_color, '線色' %> <%= f.text_field :y_color, class: 'color {required:false, hash:true} input-mini' -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :label_x, 'ラベル書式', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
  <%= f.label :x_scale_skip, 'スキップ' %> <%= f.text_field :x_scale_skip, class: 'input-mini', type: 'number' -%>
  <%= f.label :x_scale_rotate, '回転' %> <%= f.text_field :x_scale_rotate, class: 'input-mini', type: 'number' -%>
  <%= f.label :x_scale_x_offset, 'Xオフセット' %> <%= f.text_field :x_scale_x_offset, class: 'input-mini', type: 'number' -%>
  <%= f.label :x_scale_y_offset, 'Yオフセット' %> <%= f.text_field :x_scale_y_offset, class: 'input-mini', type: 'number' -%>
  </div>
  <div class="controls_row">
  <%= f.label :x_scale_align, '位置' %><%= f.select :x_scale_align, options_for_select([['Left','left'],['Right','right'],['Center','center']], @graph.x_scale_align) %> 
  </div>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'x_scale'} -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :data_x, 'データ', class: "control-label" %>
  <div class="controls">
  <%= f.label :max_x, '最大値' %> <%= f.text_field :max_x, class: 'input-mini', type: 'number' -%>
  <%= f.label :min_x, '最小値' %> <%= f.text_field :min_x, class: 'input-mini', type: 'number' -%>
  <%= f.label :rounded_up_max_x, '切り上げる位' %> <%= f.text_field :rounded_up_max_x, class: 'input-mini', type: 'number' -%>
  </div>
</div>

  <h4>Y軸</h4>
<div class="control-group">
  <%= label_tag :axis_x, '水平線書式', class: "control-label" %>
  <div class="controls">
  <%= f.label :axis_x_width, '線幅' %> <%= f.text_field :axis_x_width, class: 'input-mini', type: 'number' -%>
  <%= f.label :axis_x_len, '本数' %> <%= f.text_field :axis_x_len, class: 'input-mini', type: 'number' -%>
  <%= f.label :x_color, '線色' %> <%= f.text_field :x_color, class: 'color {required:false, hash:true} input-mini' -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :label_y, 'ラベル書式', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
<!--  <%= f.label :y_scale_skip, 'スキップ' %> <%= f.text_field :y_scale_skip, class: 'input-mini', type: 'number' -%> -->
  <%= f.label :y_scale_rotate, '回転' %> <%= f.text_field :y_scale_rotate, class: 'input-mini', type: 'number' -%>
  <%= f.label :y_scale_x_offset, 'Xオフセット' %> <%= f.text_field :y_scale_x_offset, class: 'input-mini', type: 'number' -%>
  <%= f.label :y_scale_y_offset, 'Yオフセット' %> <%= f.text_field :y_scale_y_offset, class: 'input-mini', type: 'number' -%>
  </div>
  <div class="controls_row">
  <%= f.label :y_scale_align, '位置' %><%= f.select :y_scale_align, options_for_select([['Left','left'],['Right','right'],['Center','center']], @graph.y_scale_align) %> 
  </div>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'y_scale'} -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :data_y, 'ラベルデータ', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
  <%= f.label :max_y, '最大値' %> <%= f.text_field :max_y, class: 'input-mini', type: 'number' -%>
  <%= f.label :min_y, '最小値' %> <%= f.text_field :min_y, class: 'input-mini', type: 'number' -%>
  <%= f.label :rounded_up_max_y, '切り上げる位' %> <%= f.text_field :rounded_up_max_y, class: 'input-mini', type: 'number' -%>
  <%= f.label :round_digit, '小数点切り上げ' %> <%= f.text_field :round_digit, class: 'input-mini', type: 'number' -%>
  </div>
  <div class="controls_row">
  <%= f.check_box :y_scale_percent %> <%= f.label :y_scale_percent, 'ラベルを%表示する' %>
  </div>
  </div>
</div>
<div class="control-group">
  <%= label_tag :unit, '単位', class: "control-label" %>
  <div class="controls">
  <%= f.text_field :unit, class: 'input-mini' -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :unit_format, '単位書式', class: "control-label" %>
  <div class="controls">
  <%= f.label :unit_align, '位置' %><%= f.select :unit_align, options_for_select([['Start','start'],['End','end'],['Left','left'],['Right','right'],['Center','center']], @graph.unit_align) %> 
  <%= f.label :unit_x_offset, 'Xオフセット' %> <%= f.text_field :unit_x_offset, class: 'input-mini', type: 'number' -%>
  <%= f.label :unit_y_offset, 'Yオフセット' %> <%= f.text_field :unit_y_offset, class: 'input-mini', type: 'number' -%>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'unit'} -%>
  </div>
</div>

</div><!-- div.form-horizontal -->

</fieldset>
</div><!-- graph_conf -->

<div id="graph_hanrei" class="tab-pane">
<fieldset>
  <legend>凡例</legend>

<div class="form-horizontal">
<div class="control-group">
  <%= f.label :use_hanrei, '凡例を表示', class: "control-label" %>
  <div class="controls">
  <%= f.check_box :use_hanrei %>
  </div>
</div>
<!--
<div class="control-group">
  <%= label_tag :hanrei_poss, '凡例位置', class: "control-label" %>
  <div class="controls">
  <%= f.select :hanrei_align, options_for_select([['Start','start'],['End','end'],['Left','left'],['Right','right'],['Center','center']], @graph.hanrei_align) %>
  </div>
</div>
-->
<div class="control-group">
  <%= label_tag :hanrei_offset, '凡例書式', class: "control-label" %>
  <div class="controls">
  <%= f.label :hanrei_x_offset, 'Xオフセット' %> <%= f.text_field :hanrei_x_offset, class: 'input-mini', type: 'number' -%>
  <%= f.label :hanrei_y_offset, 'Yオフセット' %> <%= f.text_field :hanrei_y_offset, class: 'input-mini', type: 'number' -%>
  <%= f.label :hanrei_line_height, '1行高さ' %> <%= f.text_field :hanrei_line_height, class: 'input-mini', type: 'number' -%>
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'hanrei'} -%>
  </div>
</div>
<div class="control-group">
  <%= label_tag :hanrei_marker, 'マーカー', class: "control-label" %>
  <div class="controls">
  <%= f.label :hanrei_radius, '半径' %> <%= f.text_field :hanrei_radius, class: 'input-mini', type: 'number' -%>
  <%= f.label :hanrei_marker_style, 'マーカーの形' %><%= f.select :hanrei_marker_style, options_for_select([['丸','arc'],['四角','rect']], @graph.hanrei_marker_style), class: 'input-mini' %> 
  </div>
</div>
</div><!-- div.form-horizontal -->

</fieldset>
</div><!-- graph_conf -->

<div id="graph_memo" class="tab-pane">
<fieldset>
  <legend>メモ</legend>

<div class="form-horizontal">
<div id="memo_forms">
<% if @graph.ccchart_memos.size > 0 -%>
<%= render partial: 'form_memo', collection: @graph.ccchart_memos, locals: {next_count: nil} -%>
<% else -%>
<%= render partial: 'form_memo', collection: [CcchartMemo.new(font: {size: 12}, line_space: 6)], locals: {next_count: nil} -%>
<% end -%>
</div><!-- memo_forms -->
<%= button_tag 'メモを追加', id: 'add_new_memo', class: 'btn', type: :button -%>
</div><!-- div.form-horizontal -->

</fieldset>
</div><!-- graph_conf -->

<div id="graph_other" class="tab-pane">
<fieldset>
  <legend>その他</legend>

<div class="form-horizontal">

<div class="control-group">
  <%= label_tag :bar_format, '線グラフ書式', class: "control-label" %>
  <div class="controls">
  <%= f.label :line_width, '線幅' %> <%= f.text_field :line_width, class: 'input-mini', type: 'number' -%>
  </div>
  <%= label_tag :bar_format, '棒グラフ書式', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
  <%= f.label :bar_padding, 'バー左余白' %> <%= f.text_field :bar_padding, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  <div class="controls_row">
  <%= f.label :bar_width, 'バー幅' %> <%= f.text_field :bar_width, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  </div>
  <%= label_tag :pie_format, '円グラフ書式', class: "control-label" %>
  <div class="controls">
  <div class="controls_row">
  <%= f.label :pie_data_index, '対象データ' %> <%= f.text_field :pie_data_index, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  <div class="controls_row">
  <%= f.label :pie_ring_width, '円幅' %> <%= f.text_field :pie_ring_width, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  <div class="controls_row">
  <%= f.label :pie_hole_radius, '内径' %> <%= f.text_field :pie_hole_radius, class: 'input-mini', type: 'number' -%>
  </div><!-- controls_row -->
  <%= render :partial => 'text_format', locals: {f: f, graph: @graph, prefix: 'col_name'} -%>
  </div>
</div>

</div><!-- div.form-horizontal -->

</fieldset>
</div><!-- graph_conf -->
</div><!-- tab-conteont -->
</div><!-- tabbable -->

<% end %>
