<%= fields_for(:ccchart_memo, form_memo, index: form_memo.id) do |sf| -%>
<div class="ccchart_memo_form">
<%= button_tag '削除', class: 'btn btn-danger btn_delete_memo', type: 'button', onclick: 'deleteMemo(this)' %>
<div class="control-group">
  <%= sf.label :val, 'テキスト', class: "control-label" %>
  <div class="controls">
    <%= sf.text_area :val, class: 'input-xxlarge', name: "ccchart_memo[][val]", rows: 3 -%>
    <%= render :partial => 'text_format_for_memo', object: form_memo -%>
  </div><!-- controls -->
</div><!-- control-group -->
<div class="control-group">
  <%= label_tag :top, '位置', class: "control-label" %>
  <div class="controls">
    <%= sf.label :top, 'Y' -%>
    <%= sf.text_field :top, class: 'input-mini', type: 'number', name: "ccchart_memo[][top]", id: "top_#{next_count || form_memo_counter}" -%>
    <%= sf.label :left, 'X' -%>
    <%= sf.text_field :left, class: 'input-mini', type: 'number', name: "ccchart_memo[][left]", id: "left_#{next_count || form_memo_counter}" -%>
    <span><%= button_tag raw('<i class="icon-screenshot"></i>'), class: 'btn btn_getposs', type: :button, onclick: "getPossAndRedraw(this, #{next_count || form_memo_counter});" %></span>
    <%= sf.label :line_space, '行間' -%>
    <%= sf.text_field :line_space, class: 'input-mini', type: 'number', name: "ccchart_memo[][line_space]" -%>
  </div><!-- controls -->
</div><!-- control-group -->
</div><!-- ccchart_memo_form -->
<% end # fields_for -%>
