<div id="graph_value_select" class="tab-pane">
<fieldset>
  <legend>表示する値の選択</legend>
</fieldset>

<div class="select_mode">
  <div class="select_mode_check"><%= f.radio_button :value_select_mode, 0 -%><%= f.label :value_select_mode, '指定無し', value: 0 -%></div>
</div>

<div class="select_mode">
  <div class="select_mode_check"><%= f.radio_button :value_select_mode, 1 -%><%= f.label :value_select_mode, '範囲指定', value: 1 -%></div>
  <div class="select_config">
    <% if series.category_axis_is_date? -%>
      <%= f.select :select_from, options_for_select(@category_axis_labels, selected: graph.select_from), include_blank: true -%> から <%= f.select :select_to, options_for_select(@category_axis_labels, selected: graph.select_to), include_blank: true %>
    <% elsif series.category_axis_type == 'integer' -%> 
      <%= f.text_field :select_from, class: "input-mini", type: "number" -%> から <%= f.text_field :select_to, class: "input-mini", type: "number" -%>
    <% else -%>
      <span>範囲指定はできません</span>
    <% end -%>
  </div>
</div>

<div class="select_mode">
  <div class="select_mode_check"><%= f.radio_button :value_select_mode, 2 -%><%= f.label :value_select_mode, '個別指定', value: 2 -%></div>
  <div class="select_config">
    <div id="all_values_toggle" class="controls_row">
    <%= button_tag '全て選択', type: 'button', id: 'all_values_selected', class: 'btn' %>
    <%= button_tag '選択解除', type: 'button', id: 'all_values_unselected', class: 'btn' %>
    </div>

    <div id="choice_table_area">
    <%= render :partial => 'choice_table', object: series_table, locals: {choice_list: choice_list} -%>
    </div><!-- choice_table_area -->
  </div>
</div>
</div><!-- graph_conf -->
