<li class="series_option">

  <%= hidden_field_tag 'series_op[][series_type]', series.series_type, :id => "series_op_series_type_#{series_counter}" %>
  <%= hidden_field_tag 'series_op[][id]', series.series_id, :id => "series_op_id_#{series_counter}" %>

<div class="series_option_header">
  <%= hidden_field_tag 'series_op[][selected_reg]', series.selected, {id: "series_op_selected_reg_#{series_counter}", class: "series_op_selected_reg"} %>
  <%= check_box_tag 'series_op[][selected]', "true", series.selected, {id: "series_op_selected_checkbox_#{series_counter}", class: "series_op_selected_checkbox"} %>
  <div class="pull-right series_color_prev" style="background-color:<%= series.get_color %>"></div>
  <span class="series_name"><%= series.name %></span>
</div><!-- selected_series_header -->

<div class="series_option_form">

  <div class="controls_row">
    <%= label_tag "series_op_color_#{series_counter}", '色', class: 'control-label' %>
    <%= text_field_tag 'series_op[][color]', series.color, {id: "series_op_color_#{series_counter}", class: 'color {required:false, hash:true} input-mini series_color'} -%>
  </div><!-- controls_row -->

<div class="">
  <div>値の設定</div>
  <div class="controls">
    <%= check_box_tag 'series_op[][use_val]', "true", series.use_val, {id: "series_op_use_val_#{series_counter}"} %>
    <%= label_tag "series_op_use_val_#{series_counter}", '表示', class: 'control-label' %>
  </div><!-- controls -->

  <div class="controls_row">
    <%= render :partial => 'text_format_for_val', object: series, locals: {prefix: 'val', series_counter: series_counter} -%>
    <%#= text_field_tag 'series_op[][val_color]', series.val_color, {id: "series_op_val_color_#{series_counter}", class: 'color {required:false, hash:true} input-mini'} -%>
  </div><!-- controls_row -->

  <div class="controls_row">
    オフセット
    Y <%= text_field_tag 'series_op[][val_y_offset]', series.val_y_offset, {id: "series_op_val_y_offset_#{series_counter}", class: 'input-mini', type: 'number'} -%>
    X <%= text_field_tag 'series_op[][val_x_offset]', series.val_x_offset, {id: "series_op_val_x_offset_#{series_counter}", class: 'input-mini', type: 'number'} -%>
  </div><!-- controls_row -->
</div><!-- -->

</div><!-- series_option_form -->

</li><!-- selected_series -->
