<ul id="graph_tabs" class="nav nav-tabs" style="margin-top:20px;">
  <li class="active">
    <a href="#graph_series_select" data-toggle="tab">系列の選択</a>
  </li>
  <li class="">
    <a href="#graph_value_select" data-toggle="tab">値の選択</a>
  </li>
  <li class="">
    <a href="#graph_common" data-toggle="tab">基本設定</a>
  </li>
  <li class="">
    <a href="#graph_graph_area" data-toggle="tab">グラフ領域</a>
  </li>
  <li class="">
    <a href="#graph_axis" data-toggle="tab">軸・目盛</a>
  </li>
  <li class="">
    <a href="#graph_hanrei" data-toggle="tab">凡例</a>
  </li>
  <li class="">
    <a href="#graph_memo" data-toggle="tab">メモ</a>
  </li>
  <li class="">
    <a href="#graph_other" data-toggle="tab">その他</a>
  </li>
</ul><!-- nav-tabs -->
