<div class="text_format text_format_box">

<div class="">
<%= label_tag "series_op[][val_color]", '色' -%> <%= text_field_tag "series_op[][val_color]", text_format_for_val.val_color, {id: "series_op_val_color_#{series_counter}", class: 'color {required:false, hash:true} input-mini'}  -%>

<%= label_tag "series_op[][val_font][size]", 'サイズ' -%> <%= text_field_tag "series_op[][val_font][size]", text_format_for_val.val_font[:size], {id: "series_op_val_color_#{series_counter}", class: 'input-mini', type: 'number'} %>

<%= label_tag "series_op[][val_font][font]", '書体' -%> <%= select_tag "series_op[][val_font][font]", options_for_select(['san-serif','serif','cursive','fantasy','monospace'], text_format_for_val.val_font[:font]) %>

</div>

</div>

