<div class="text_format text_format_box">

<div class="">
<%= label_tag "ccchart_memo[][color]", '色' -%> <%= text_field_tag "ccchart_memo[][color]", text_format_for_memo[:color], class: 'color {required:false, hash:true} input-mini'  -%>

<%= label_tag "ccchart_memo[][font][size]", 'サイズ' -%> <%= text_field_tag "ccchart_memo[][font][size]", text_format_for_memo[:font][:size], class: 'input-mini', type: 'number' %>

<%= label_tag "ccchart_memo[][font][font]", '書体' -%> <%= select_tag "ccchart_memo[][font][font]", options_for_select(['san-serif','serif','cursive','fantasy','monospace'], text_format_for_memo[:font][:font]) %>

</div>

</div>

