<div class="text_format text_format_box">

<div class="controls_row">
<% unless prefix == 'col_name' -%>
<%= f.label "#{prefix}_color", '色' -%> <%= f.text_field "#{prefix}_color", class: 'color {required:false, hash:true} input-mini'  -%>
<% end -%>

<%= label_tag "graph[#{prefix}_font][size]", 'サイズ' -%> <%= text_field_tag "graph[#{prefix}_font][size]", graph["#{prefix}_font"][:size], class: 'input-mini', type: 'number' %>

<%= label_tag "graph[#{prefix}_font][font]", '書体' -%> <%= select_tag "graph[#{prefix}_font][font]", options_for_select(['san-serif','serif','cursive','fantasy','monospace'], graph["#{prefix}_font"][:font]) %>

</div>

<% if prefix == 'title' || prefix == 'sub_title' =%>
<div>
<%= f.select "#{prefix}_text_align", options_for_select([['Left','left'],['Right','right'],['Center','center']], graph["#{prefix}_text_align"]) -%>

<%= f.label "#{prefix}_y", 'Y位置' -%> <%= f.text_field "#{prefix}_y", class: 'input-mini', type: 'number' %>
</div>
<% end -%>

</div>
