<h1>Listing graphs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Series</th>
    <th>Title</th>
    <th>Sub title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graphs.each do |graph| %>
  <tr>
    <td><%= graph.user_id %></td>
    <td><%= graph.series_id %></td>
    <td><%= graph.title %></td>
    <td><%= graph.sub_title %></td>
    <td><%= link_to 'Show', graph %></td>
    <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
    <td><%= link_to 'Destroy', graph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Graph', new_graph_path %>
