<% if @series_type == 'series' -%>
  <%= link_to '系列に戻る', login_series_show_path(login: @series.user.login, id: @series.id) %>
<% elsif @series_type == 'series_collections' -%>
  <%= link_to '系列に戻る', login_series_collection_show_path(login: @series.user.login, id: @series.id) %>
<% else -%>
<% end -%>

<h1>新しいグラフを作成する</h1>

<%= render partial: 'shared/graph_dialog_area', locals: {mode: :graph_edit} -%>

<%= render 'form' %>

<%= javascript_include_tag 'autoload_chart' %>
<%= javascript_include_tag 'edit_chart' %>
<%= javascript_include_tag 'graphs' %>
<%= javascript_include_tag 'jscolor/jscolor' %>
