<div class="clearfix">
<% if @series_type == 'series' -%>
  <div class="pull-left">
  <%= link_to '系列に戻る', login_series_show_path(login: @graph.user.login, id: @graph.graphable_id) %>
  </div>
<% elsif @series_type == 'series_collections' -%>
  <div class="pull-left">
  <%= link_to 'テーブルに戻る', login_series_collection_show_path(login: @graph.user.login, id: @graph.graphable_id) %>
  </div>
<% else -%>
<% end -%>

<div class="pull-right">
<% if signed_in? && current_user.id == @graph.user_id -%>
<%= link_to '編集', edit_graph_path(@graph), class: 'btn' %>
<%= link_to '削除', @graph, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end -%>
</div>
</div><!-- clearfix -->

<div class="page-header">
<h1>
  <%= @graph.title %>
</h1>
<h2>
  <%= @graph.sub_title %>
</h2>
<p>
  <%= link_to raw('<i class="icon-user"></i> ' + h(@graph.user.profile.name_view)), login_member_home_path(login: @graph.user.login)  %>
|
  作成日 <%= l @graph.created_at, format: :short %>
|
  更新日 <%= l @graph.updated_at, format: :short %>
</p>
<%= render :partial => 'shared/sns_link', object: @graph, locals: {url: login_graph_show_url(login: @graph.user.login, id: @graph.id), name: @graph.title} %>
</div><!-- page-header -->

<%= render partial: 'shared/graph_dialog_area', locals: {mode: :graph_show} -%>

<%= hidden_field_tag :graph_id, @graph.id, :id => "graph_id" -%>

<% if @graph.value_select_mode == 1 || @graph.value_select_mode == 2 -%>
<%= render :partial => 'shared/select_status', locals: {graph: @graph} -%>
<% end -%>

<% unless @series_table.nil? -%>
<%= render :partial => 'shared/table', :object => @series_table %>
<% end -%>

<%= javascript_include_tag 'autoload_chart_by_graph' %>
<%= javascript_include_tag 'graphs' %>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @graph.user -%>
<% end %>

<% content_for :sns_metadata do -%>
<%= render :partial => 'shared/sns_metadata', locals: { graph: @graph } -%>
<% end -%>
