<%= form_for(@series_collection, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @series_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_collection.errors.count, "error") %> prohibited this series_collection from being saved:</h2>

      <ul>
      <% @series_collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false -%>
  <div class="control-group">
    <%= f.label :id, :class => "control-label" %>
    <div class="controls">
    <%= @series_collection.id %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>
<% if false -%>
  <div class="control-group">
    <%= f.label :locked, :class => "control-label" %>
    <div class="controls">
    <%= f.check_box :locked %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, :rows => 10 %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
    <%= f.submit class: 'btn' %>
    </div>
  </div>
<% end %>
