  <tr>
    <td>
      <%= link_to index_row.user.profile.name_view, login_member_home_path(login: index_row.user.login) %>
    </td>
    <td>
      <%= link_to index_row.name, login_series_collection_show_path(login: index_row.user.login, id: index_row.id) %>
    </td>
    <td><%= l index_row.updated_at, format: :short %></td>
  </tr>
