<% if signed_in_and_yours?(series.user_id) -%>
<ul class="nav nav-tabs">
  <li id="edit_collections" class="active">
    <a>編集</a>
  </li>
</ul><!-- nav-tabs -->
<%#= button_tag '編集', :id => 'edit_collections', :class => 'btn', :type => 'button' %>
<% end #if -%>

<div id="series_select_area" class="well well-small">
<div class="controls_row">
<div class="pull-right">
<%= button_tag '閉じる', :id => 'close_selector', :class => 'btn', :type => 'button' %>
</div><!-- pull-right -->
</div><!-- controls_row -->

<p class="dialog_h1">系列の追加・削除</p>

<p class="dialog_h2">追加する系列</p>
<div class="dialog_group">
  <div class="input-append">
    <%= text_field_tag :search_query, '', :id => :search_query %>
    <button id="search_series" type="button" class="btn">検索</button>
  </div>
  (<span id="count_series"></span> series found)
<div id="source_series_area" class="controls_row">
<table id="source_series" class="table table-condensed">
</table>
<%= hidden_field_tag :selected_series_id, '', :id => :selected_series_id %>
</div><!-- source_series_area -->

<%= button_tag raw('<i class="icon-plus"></i> 追加'), :id => :add_series, :class => 'btn' %>
</div><!-- dialog_group -->

<% if series_type == 'series_collection' -%>
  <%= render :partial => 'series_collections/series_for_collection', :locals => {:series_collection => series} -%>
<% end -%>


</div><!-- series_select_area -->

<%= hidden_field_tag :login_name, series.user.login, :id => 'login_name' %>
<%= hidden_field_tag :series_type, series_type, :id => 'series_type' %>
<% if series_type == 'series_collection' -%>
<%= hidden_field_tag :series_collection_id, series.id, :id => 'series_collection_id' %>
<% end #if -%>

<% #以下テンプレート -%>
<script id="source_series_template" type="text/x-jquery-tmpl">
<tr id="${series_id}" class="select_table_row" onclick="selectSeriesRow(this)">
<td class="width80"><div class="label label-info" title="${axis_type_label}">${axis_type}</div></td>
<td>${name}</td>
</tr>
</script>

<script id="selected_series_template" type="text/x-jquery-tmpl">
<tr class="select_table_row" onclick="selectCollectionRow(this)">
<td style="width:50px;"><%= button_tag '削除', :class => 'btn btn-mini btn-danger', :onclick => "removeSelectedSeries(this)", :type => :button %> </td>
<td style="width:20px;">${no}</td>
<td class="width80"><div class="label label-info" title="${axis_type_label}">${axis_type}</div></td>
<td class="name">${name}</td>
<td class="alias">${alias}</td>
<td>
<%= hidden_field_tag 'collection[][row_type]', 'series' %>
<%= hidden_field_tag 'collection[][series_order_id]', '${series_order_id}' %>
<%= hidden_field_tag 'collection[][series_id]', '${series_id}' %>
<%= hidden_field_tag 'collection[][alias]', '${alias}', :class => 'alias' %>
</td>
</tr>
</script>

<script id="selected_series_template_for_calculator" type="text/x-jquery-tmpl">
<tr class="select_table_row" onclick="selectCollectionRowCulc(this)">
<td style="width:50px;"><%= button_tag '削除', :class => 'btn btn-mini btn-danger', :onclick => "removeSelectedSeries(this)", :type => :button %> </td>
<td style="width:20px;">${no}</td>
<td class="width80"></td>
<td class="name">${name}</td>
<td class="expression">${expression}</td>
<td>
<%= hidden_field_tag 'collection[][row_type]', 'series_calculator' %>
<%= hidden_field_tag 'collection[][series_calculator_id]', '${series_calculator_id}' %>
<%= hidden_field_tag 'collection[][name]', '${name}', :class => 'name' %>
<%= hidden_field_tag 'collection[][expression]', '${expression}', :class => 'expression' %>
</td>
</tr>
</script>
