<p class="dialog_h2">追加された系列</p>
<div class="dialog_group">

<%= form_tag(series_collection_collection_path(id: series_collection.id), :id => :edit_collection_form, :remote => true, :method => :put) do -%>

<div id="selected_series_area">
<table id="selected_series" class="table table-condensed">
</table>
</div><!-- selected_series_area -->

<div id="series_alias" class="control-box">
系列の別名
<div class="input-append">
<%= text_field_tag :series_name_alias, '' %><%= button_tag '更新', :type => :button, :id => :update_alias, :class => "btn" %>
</div>
</div><!-- edit_series -->

<div id="series_calculator_properties" class="control-box">
名前<%= text_field_tag :series_calculator_name, '' %>
式<%= text_field_tag :series_calculator_expression, '' %>
<%= button_tag '更新', :type => :button, :id => :update_calculator, :class => "btn" %>
</div><!-- series_calculator_properties -->


<div class="controls_row">
<%= submit_tag '更新', :class => 'btn' %>
<%= button_tag raw('<i class="icon-plus"></i> 計算系列の追加'), :type => :button, :id => :add_expression, :class => "btn" %>
<%= button_tag raw('<i class="icon-arrow-up"></i>'), :type => :button, :id => :move_up, :class => "btn" %>
<%= button_tag raw('<i class="icon-arrow-down"></i>'), :type => :button, :id => :move_down, :class => "btn" %>
</div>

<% end -%>
</div><!-- dialog_group -->
