<h1>テーブルを編集する</h1>

<%= render 'form' %>

<%= link_to 'Back', login_series_collection_show_path(id: @series_collection.id, login: @series_collection.user.login) %>

<%= javascript_include_tag 'series_collections' -%>
