<h1>Tables</h1>

<%= paginate @series_collections %>

<table class="table table-condensed">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Updated at</th>
  </tr>

  <%= render partial: 'index_row', collection: @series_collections -%>

</table>

<%= paginate @series_collections %>

