<div class="clearfix">
<div class="pull-right">
<% if signed_in? && current_user.id == @series_collection.user_id -%>
<%= link_to '編集', edit_series_collection_path(@series_collection), class: 'btn' %>
<%= link_to '削除', @series_collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end -%>
</div>
</div><!-- clearfix -->

<div class="page-header">
<h1>
  <%= @series_collection.name %>
  <% if @series_collection.locked -%>
  <i class="icon-lock" alt="非公開" title="非公開"></i>
  <% end -%>
</h1>
<p>
  <%= link_to raw('<i class="icon-user"></i> ' + h(@series_collection.user.profile.name_view)), login_member_home_path(login: @series_collection.user.login)  %>
|
  作成日 <%= l @series_collection.created_at, format: :short %>
|
  更新日 <%= l @series_collection.updated_at, format: :short %>
</p>
<%= render :partial => 'shared/sns_link', object: @series_collection, locals: {url: login_series_collection_show_url(login: @series_collection.user.login, id: @series_collection.id), name: @series_collection.name} %>
<%= render :partial => 'shared/desc', :locals => {:series => @series_collection, :series_type_for_desc => 'series_collections'} -%>
</div><!-- page-header -->

<%#= render :partial => 'shared/graph_area', :locals => {:series_type => 'series_collection', :series => @series_collection, :graph_config => @graph_config} %>
<%= render :partial => 'shared/graph_area', :locals => {:series_type => 'series_collection', :series => @series_collection} %>

<%= render :partial => 'series_collections/selector', :locals => {:series => @series_collection, :series_type => 'series_collection'} -%>

<%= render :partial => 'shared/table', :object => @series_table %>

<%= javascript_include_tag 'series_collections' %>
<%= javascript_include_tag 'graph_dialog' %>
<%= javascript_include_tag 'edit_series_collections' %>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @series_collection.user -%>
<% end %>
