<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
    <%= f.email_field :email, :autofocus => true %>
    </div><!-- controls -->
  </div><!-- control-group -->

  <div class="control-group">
    <div class="controls">
    <%= f.submit "Send me reset password instructions", class: 'btn' %>
    </div><!-- controls -->
  </div><!-- control-group -->
<% end %>

<%= render "devise/shared/links" %>
