<% if cell.col_properties[:view_option].nil? || cell.col_properties[:view_option].selected == true -%>
<td class="table_value">
  <% if cell.blank? || cell.value_is_nil? -%>
  <% else -%>
    <%= cell.value %>
  <% end -%>
</td>
<% end -%>
