<div id="series_desc_area" class="well well-small">
  <div><b>Description:</b></div>
  <div id="series_desc">
    <p id="series_desc_text"><%= auto_link( safe_text(series.description), html: {target: '_blank'} ) %></p>
    <% if signed_in_and_yours?(series.user_id) -%>
    <div><%= button_tag '編集', :id => 'series_desc_edit_button', class: 'btn' %></div>
    <% end -%>
  </div><!-- series_desc -->
  <div id="series_desc_update_form">
    <%= form_for( series, :url => {:controller => series_type_for_desc, :action => :update, :id => series.id, :format => :json}, :remote => true, :html => {id: :edit_desc_form}) do |f| -%>
      <%= f.text_area :description, :class => 'span6', :rows => 10 %>
      <div><%= f.submit '更新', class: 'btn' -%> <%= button_tag 'キャンセル', :id => :edit_description_cancel, class: 'btn', :type => 'button' %></div>
    <% end -%>
  </div><!-- series_desc_update_form -->
</div><!-- series_desc_area -->

<%= hidden_field_tag :series_type_for_desc, series_type_for_desc, :id => 'series_type_for_desc' -%>

<%= javascript_include_tag 'edit_desc' -%>
