<% if false -%>
# mode: :graph_area, :graph_edit, :graph_show
<% end -%>
<div id="graph_dialog_area">
<div id="graph_dialog" title="グラフ">

<% if mode == :graph_area -%>
<% # グラフのURLを組み立てる際に必要なログイン名 -%>
<%= hidden_field_tag :graph_owner, series.user.login, :id => "graph_owner" -%>
<% # 今オープンされているグラフのID -%>
<%= hidden_field_tag :graph_id_for_graph_dialog, "", :id => "graph_id_for_graph_dialog" -%>
<% # ポップアップの状態を設定 -%>
<%= hidden_field_tag :popup_status, 'off', :id => "popup_status" -%>
<% end -%>

<div class="btn-toolbar">

<% if mode == :graph_area -%>
<div id="graph-menu-button" class="btn-group">
  <% if signed_in_and_yours?(series.user_id) -%>
  <%= button_tag '編集', :id => 'edit_graph', :class => 'btn', :type => 'button', title: 'グラフを編集する' %>
  <% end -%>
  <% if false -%>
  <%= button_tag 'ポップアップ', :id => 'popup_dialog', :class => 'btn', :type => 'button' %>
  <%= button_tag 'ドッキング', :id => 'docking_dialog', :class => 'btn', :type => 'button' %>
  <% end -%>
  <%= button_tag '画像に変換', :id => 'download_as_image', :class => 'btn', :type => 'button', title: 'グラフを画像に変換する' %>
  <%= button_tag '閉じる', :id => 'close_graph_dialog', :class => 'btn', :type => 'button', title: 'ダイアログを閉じる' %>
</div><!-- btn-group -->
<% end # if -%>

<% if mode == :graph_area || mode == :graph_show -%>
<% # グラフのauto/100%切り替えボタン -%>
<%= render :partial => 'shared/graph_size_button' %>
<% end -%>

</div><!-- btn-toolbar -->

<% if mode == :graph_area -%>
<% # グラフのアドレス表示フォーム -%>
<%= render partial: 'shared/graph_url_bar' -%>
<% end # if -%>

<div id="graph_canvas_container">
<canvas id="graph_canvas"></canvas>
</div><!-- graph_canvas_container -->

<span><a href="http://ccchart.com/" target="_blank">Powerd by ccchart.js</a></span>

</div><!-- graph_dialog -->
</div><!-- graph_dialog_area -->
