<div class="controls_row">
  <div class="input-append">
  <%= text_field_tag :graph_url, '', :id => 'graph_url', class: 'input-xlarge' %>
  <%= button_tag '表示', :type => 'button', :id => 'show_graph', :class => 'btn' %>
  </div><!-- input-append -->
</div><!-- controls_row -->
