<div id="graph-size-button" class="btn-group">
<%= button_tag 'Auto', :id => 'graph_resizable', :class => 'btn disabled', :type => 'button', title: 'グラフのサイズをウィンドウに会わせる', disabled: 'disabled' %>
<%= button_tag '100%', :id => 'graph_100p', :class => 'btn', :type => 'button', title: 'グラフのサイズを100%にする' %>
</div><!-- btn-group -->
