<div id="graph_area">
<div class="well well-small">

<% if series.graphs.size > 0 -%>
<ul class="thumbnails">
  <%= render :partial => 'shared/graph_thumbnail', :collection => series.graphs %>
</ul><!-- thumbnails -->
<% end -%>

  <% if signed_in_and_yours?(series.user_id) -%>
    <% if series_type == 'series' -%>
      <%= link_to raw('<i class="icon-plus"></i> グラフを追加'), series_graphs_new_path(series_id: series.id), :class => 'btn btn-primary' %>
    <% elsif series_type == 'series_collection' -%>
      <%= link_to raw('<i class="icon-plus"></i> グラフを追加'), series_collection_graphs_new_path(series_collection_id: series.id), :class => 'btn btn-primary' %>
    <% end -%>
  <% end -%>

</div><!-- well -->

<% child_graphs = series.child_graphs -%>
<% if child_graphs.size > 0 -%>
<div class="well well-small">
<div id="child_graphs_headline">
<span id="child_graphs_toggle"><i class="toggle-chevron icon-chevron-right"></i><i class="toggle-chevron icon-chevron-down"></i></span> 子系列のグラフ（<span id="child_graphs_count"><%= child_graphs.size %>件</span>）
</div>
<%# if series_type == 'series_collection' -%>
<ul id="child_graphs_thumbs" class="thumbnails">
  <%= render :partial => 'shared/graph_thumbnail', :collection => series.child_graphs %>
</ul><!-- thumbnails -->
<%# end -%>
</div><!-- well -->
<% end # if child_graphs.size > 0 -%>

<%= render partial: 'shared/graph_dialog_area', locals: {series: series, mode: :graph_area} -%>

</div><!-- graph_area -->
