<%#= link_to image_tag('graph_thumbnail.png'), graph_load_path(id: graph_thumbnail.id), :remote => true, :class => 'graph_thumb' %>
<li>
<div class="thumbnail">
<% if graph_thumbnail.graph_image.nil? -%>
<%= link_to image_tag('graph_thumbnail.png', class: "graph_thumb img-polaroid"), graph_load_path(id: graph_thumbnail.id), remote: true, class: 'graph_thumb' %>
<% else -%>
<%= link_to image_tag(graph_image_path(id: graph_thumbnail.id), width: 160, height: 60, class: 'img-polaroid'), graph_load_path(id: graph_thumbnail.id), remote: true, class: 'graph_thumb' %>
<% end -%>
<div class="graph_thumb_title"><%= graph_thumbnail.title %></div>
</div><!-- thumbnail -->
</li>
