<% if head[:series_type] == 'substantial' -%>
<%# 実系列の場合 -%>

<% if head[:view_option].nil? || head[:view_option].selected == true -%>
<th class="table_value">
<div>

<%# 系列の名前 -%>
<% if head[:source].series_is_deleted? -%>
<%= head[:source].name -%>
<% else -%>
<%= link_to head[:source].name, login_series_show_path(login: head[:source].series.user.login, id: head[:source].series_id), :title => head[:source].series.name -%>
<% end -%>

</div>

<%# 単位の表示 -%>
<% if !head[:source].series_is_deleted? && !head[:source].series.unit.blank? -%>
<div><%= head[:source].series.unit.blank? ? "" : "(" + head[:source].series.unit + ")" %></div>
<% end -%>

</th>
<% end -%>

<% elsif head[:series_type] == 'calcuration' -%>
<%# 計算系列の場合 -%>

<% if head[:view_option].nil? || head[:view_option].selected == true -%>
<th class="table_value">
<span title="<%= head[:source].expression %>"><%= head[:source].name %></span>
</th>
<% end -%>

<% end -%>
