<tr>
<td>
<% if own_graphs.graph_image.nil? -%>
<%= link_to image_tag('graph_thumbnail.png', class: "graph_thumb img-polaroid"), login_graph_show_path(login: own_graphs.user.login, id: own_graphs.id), class: 'graph_thumb' %>
<% else -%>
<%= link_to image_tag(graph_image_path(id: own_graphs.id), width: 160, height: 60, class: 'img-polaroid'), login_graph_show_path(login: own_graphs.user.login, id: own_graphs.id), class: 'graph_thumb' %>
<% end -%>
</td>
<td>
  <p><%= link_to own_graphs.title, login_graph_show_path(:login => own_graphs.user.login, :id => own_graphs.id) %></p>
  <% if own_graphs.graphable_type == 'Series' -%>
  <p>系列: <%= link_to own_graphs.graphable.name, login_series_show_path(:login => own_graphs.graphable.user.login, :id => own_graphs.graphable.id) %></p>
  <% elsif own_graphs.graphable_type == 'SeriesCollection' -%>
  <p>テーブル: <%= link_to own_graphs.graphable.name, login_series_collection_show_path(:login => own_graphs.graphable.user.login, :id => own_graphs.graphable.id) %></p>
  <% end -%>
</td>
<td><%= l own_graphs[date_type], format: :short %></td>
</tr>
