<tr>
<td><%= own_series.series_type_to_str({'series' => 'origin', 'series_filter' => 'filtered'}) %></td>
<td>
  <%= link_to own_series.name, login_series_show_path(:login => own_series.user.login, :id => own_series.id) %>
  <% if own_series.locked -%>
  <i class="icon-lock" alt="非公開" title="非公開"></i>
  <% end -%>
</td>
<td><%= l own_series[date_type], format: :short %></td>
</tr>
