<div id="sidebar_owner" class="well well-small sidebar-nav">
  <div class="name">
  
  <%= link_to owner.profile.name_view, login_member_home_path(login: owner.login) %>
  <% unless owner.profile.twitter_account.blank? -%>
  <%= link_to image_tag('/assets/Twitter_logo_blue_100.png', width: '12px'), 'https://twitter.com/' + owner.profile.twitter_account, target: '_blank' %>
  <% end -%>
  </div>
  <div class="introduction">
  <%= safe_text(owner.profile.introduction) %>
  </div>
  <div class="home_shortcut clearfix">
    <div class="home_shortcut_tip pull-left">
      <div><%= link_to '系列', login_series_path(login: owner.login) %></div>
      <div><%= link_to "(#{owner.series_count})", login_series_path(login: owner.login) %></div>
    </div>
    <div class="home_shortcut_tip pull-left">
      <div><%= link_to 'テーブル', login_series_collections_path(login: owner.login) %></div>
      <div><%= link_to "(#{owner.series_collections_count})", login_series_collections_path(login: owner.login) %></div>
    </div>
    <div class="home_shortcut_tip pull-left">
      <div><%= link_to 'グラフ', login_graphs_path(login: owner.login) %></div>
      <div><%= link_to "(#{owner.graphs_count})", login_graphs_path(login: owner.login) %></div>
    </div>
  </div>
</div>
