<tr>
<td>
  <%= link_to own_series_collections.name, :controller => :series_collections, :action => :show, :id => own_series_collections.id %>
  <% if own_series_collections.locked -%>
  <i class="icon-lock" alt="非公開" title="非公開"></i>
  <% end -%>
</td>
<td><%= l own_series_collections[date_type], format: :short %></td>
</tr>
