<div id="select_status" class="clearfix">
  <div class="select_status_title pull-left">選択範囲</div>
  <div class="select_status_content">
    <% if graph.value_select_mode == 1 -%>
    <%= graph.select_from -%> から <%= graph.select_to -%> 
    <% elsif graph.value_select_mode == 2 -%>
    <%= graph.select_choice.join(',') -%> 
    <% end -%>
  </div>
</div>
