<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= name %>" data-url="<%= url %>" <%= raw 'data-via="' + h(sns_link.user.profile.twitter_account) + '"' if !sns_link.user.profile.twitter_account.blank? && sns_link.user.profile.include_twitter_account %> data-hashtags="graphshare">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
