<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@graphshare_jp">
<% unless graph.user.profile.twitter_account.blank? -%>
<meta name="twitter:creator" content="@<%= graph.user.profile.twitter_account %>">
<% end -%>
<meta name="twitter:title" content="<%= graph.title -%>">
<meta name="twitter:description" content="<%= graph.graphable.description %>">
<meta name="twitter:image:src" content="http://charthub.526s.net<%= graph_image_path(id: graph.id) %>">
