<div class="table_area">
<table class="table table-condensed">
<tr>
<th class="table_number">No</th>
<th class="table_label">ラベル</th>
<%= render :partial => 'shared/head', :collection => table.col_properties %>
<th></th>
</tr>
<%= render :partial => 'shared/row', :collection => table.rows %>
</table>
</div><!-- table_area -->
