<%= form_for(@series_order) do |f| %>
  <% if @series_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_order.errors.count, "error") %> prohibited this series_order from being saved:</h2>

      <ul>
      <% @series_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :series_collection_id %><br />
    <%= f.number_field :series_collection_id %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br />
    <%= f.number_field :series_id %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br />
    <%= f.number_field :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
