<h1>Listing series_orders</h1>

<table>
  <tr>
    <th>Series collection</th>
    <th>Series</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series_orders.each do |series_order| %>
  <tr>
    <td><%= series_order.series_collection_id %></td>
    <td><%= series_order.series_id %></td>
    <td><%= series_order.sequence %></td>
    <td><%= link_to 'Show', series_order %></td>
    <td><%= link_to 'Edit', edit_series_order_path(series_order) %></td>
    <td><%= link_to 'Destroy', series_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series order', new_series_order_path %>
