<p id="notice"><%= notice %></p>

<p>
  <b>Series collection:</b>
  <%= @series_order.series_collection_id %>
</p>

<p>
  <b>Series:</b>
  <%= @series_order.series_id %>
</p>

<p>
  <b>Sequence:</b>
  <%= @series_order.sequence %>
</p>


<%= link_to 'Edit', edit_series_order_path(@series_order) %> |
<%= link_to 'Back', series_orders_path %>
