<div>
<p>最近の更新（系列）</p>
<table class="table table-striped">
<tr><th>種別</th><th>名前</th><th class="span2">更新日</th></tr>
<%= render :partial => 'shared/own_series.html', :collection => @series, locals: {date_type: :updated_at} %>
</table>
</div>

<div>
<p>最近の更新（テーブル）</p>
<table class="table table-striped">
<tr><th>名前</th><th class="span2">更新日</th></tr>
<%= render :partial => 'shared/own_series_collections.html', :collection => @series_collections, locals: {date_type: :updated_at} %>
</table>
</div>

<div>
<p>最近の更新（グラフ）</p>
<table class="table table-striped">
<tr><th></th><th>名前</th><th class="span2">更新日</th></tr>
<%= render :partial => 'shared/own_graphs.html', :collection => @graphs, locals: {date_type: :updated_at} %>
</table>
</div>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @user -%>
<% end %>
