ようこそ、<%= @email %> さん。

graphshare.net にご登録いただきありがとうございます。

このメールは、メールアドレスの確認のために送信されています。
以下のリンクをクリックすると、登録が完了します。

<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>

もし、このメールに心当たりが無い場合はこのメールを無視してください。

--------------------
graphshare.net
URL: http://graphshare.net/
