こんにちは、 <%= @resource.login %> さん。

graphshare.net をご利用いただきありがとうございます。

パスワード変更のためのメールを送信します。
以下のリンクをクリックすると、パスワードを変更するための画面に移動します。

<%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>

もし、このメールに心当たりが無い場合はこのメールを無視してください。

--------------------
graphshare.net
URL: http://graphshare.net/
