こんにちは、 <%= @resource.login %> さん。

graphshare.net をご利用いただきありがとうございます。

あなたのアカウントは、ログインの失敗回数が一定回数を超えたためロックされています。

以下のリンクをクリックすると、アカウントのロックが解除されます。

<%= unlock_url(@resource, :unlock_token => @resource.unlock_token) %>

もし、このメールに心当たりが無い場合はこのメールを無視してください。

--------------------
graphshare.net
URL: http://graphshare.net/
