<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
    <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
  <% if devise_mapping.rememberable? -%>
    <div class="controls">
    <label class="checkbox">
    <%= f.check_box :remember_me %> Remember me
    </label>
    </div>
  <% end -%>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit "Sign in", class: 'btn' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
