<%= form_for(@series_filter) do |f| %>
  <% if @series_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_filter.errors.count, "error") %> prohibited this series_filter from being saved:</h2>

      <ul>
      <% @series_filter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= @series_filter.user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :child_series_id %><br />
    <%= f.number_field :child_series_id %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br />
    <%= f.select :series_id, @series.map{|t| [t.name, t.id]}, {:include_blank => true }, :id => 'series_select' %>
  </div>
  <div class="field">
    <%= f.label :filter_type %><br />
    <%= f.select :filter_type, @filter_type %>
  </div>
  <div class="field">
    <%= f.label :reference_value %><br />
    <%= f.select :reference_value, [], {}, {:id => 'reference_value'} %>
  </div>
  <div class="field">
    <%= f.label :filter_expression %><br />
    <%= f.text_field :filter_expression %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
