<%#= form_for(@series, :url => '/series_filters', :html => {:class => "form-horizontal"}) do |f| %>
<% @series.id.blank? ? method_type = :post : method_type = :put -%>
<% @series.id.blank? ? url_str = "/series_filters" : url_str = "/series_filters/#{@series.id}" -%>
<%= form_for(@series, :url => url_str, :method => method_type, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series_filter from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :filter_target_id, :class => "control-label" %>
    <div class="controls">
    <%= f.select :filter_target_id, @target_series.map{|t| [t.name, t.id]}, {:include_blank => true }, :id => 'series_select' %>
    </div>
  </div>
<% if false -%>
  <div class="control-group">
    <%= f.label :locked, :class => "control-label" %>
    <div class="controls">
    <%= f.check_box :locked %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :round_digit, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :round_digit, :type => 'number' %>
    </div>
  </div>

  <%= fields_for(@series.series_filter) do |sf| -%>
  <div class="control-group">
    <%= sf.label :filter_type, :class => "control-label" %>
    <div class="controls">
    <%= sf.select :filter_type, @filter_type %>
    </div>
  </div>
  <div class="control-group">
    <%= sf.label :reference_value, :class => "control-label" %>
    <div class="controls">
    <%= sf.select :reference_value, @reference_values, {}, {:id => 'reference_value'} %>
    </div>
  </div>
<% if false -%>
  <div class="control-group">
    <%= sf.label :filter_expression, :class => "control-label" %>
    <div class="controls">
    <%= sf.text_field :filter_expression %>
    </div>
  </div>
<% end -%>
  <% end -%>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, {:rows => 10} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
