<h1>Listing series_filters</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Filter type</th>
    <th>Description</th>
    <th>Child series</th>
    <th>Series</th>
    <th>Reference value</th>
    <th>Filter expression</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series_filters.each do |series_filter| %>
  <tr>
    <td><%= series_filter.user_id %></td>
    <td><%= series_filter.name %></td>
    <td><%= series_filter.filter_type %></td>
    <td><%= series_filter.description %></td>
    <td><%= series_filter.child_series_id %></td>
    <td><%= series_filter.series_id %></td>
    <td><%= series_filter.reference_value %></td>
    <td><%= series_filter.filter_expression %></td>
    <td><%= link_to 'Show', series_filter %></td>
    <td><%= link_to 'Edit', edit_series_filter_path(series_filter) %></td>
    <td><%= link_to 'Destroy', series_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series filter', new_series_filter_path %>
