<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @series_filter.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @series_filter.name %>
</p>

<p>
  <b>Filter type:</b>
  <%= @series_filter.filter_type %>
</p>

<p>
  <b>Description:</b>
  <%= @series_filter.description %>
</p>

<p>
  <b>Child series:</b>
  <%= @series_filter.child_series_id %>
</p>

<p>
  <b>Series:</b>
  <%= @series_filter.series_id %>
</p>

<p>
  <b>Reference value:</b>
  <%= @series_filter.reference_value %>
</p>

<p>
  <b>Filter expression:</b>
  <%= @series_filter.filter_expression %>
</p>

<%= render :partial => 'series/table', :object => @series_filter.values(true) -%>

<%= link_to 'Edit', edit_series_filter_path(@series_filter) %> |
<%= link_to 'Back', series_filters_path %>
