@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

input[type=checkbox]{
  vertical-align: 0;
}
input[type=radio]{
  vertical-align: 0;
}

width80 {
  width: 80px;
}

#series_desc_area {
  #series_desc_update_form {
    display: none;
  }
}

#modal-overlay {
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.75);
  z-index:1;
  display:none;
  position:fixed;
  width: 100%;
  height: 120%;
}

div.ccchart_memo_form {
  border: 1px #AAA solid;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 8px;
}

div.text_format_box {
  border: 1px #e3e3e3 solid;
  padding: 8px;
  border-radius: 3px;
  background-color: #f5f5f5;
}

#graph_dialog_area{
  border: 1px #AAA solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;

  #graph_menu_button{
  }

  #graph_url_area{

    #graph_url{
      width: 200px;
    }
  }

  #graph_dialog{
    font-family: "Noto Sans Japanese";
    font-weight: 200;
    #graph_canvas_container{
      canvas#graph_canvas{
        font-family: "Noto Sans Japanese";
        font-weight: 200;
      }
    }
  }
}

#graph_area {
  div#child_graphs_headline {
    /* margin-bottom: 8px; */
    cursor: pointer;
  }
  #child_graphs_thumbs {
    margin-top: 8px;
  }
  ul.thumbnails {
    margin-left: -10px;
    li {
      margin-left: 10px;
      margin-bottom: 4px;
      div.thumbnail {
        width: 170px;
      }
    }
  }
}
.graph_thumb_title {
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

#select_status {
  border-radius: 3px;
  border: 1px #AAA solid;
  padding: 4px;
  margin-bottom: 4px;
  div.select_status_title {
    margin-right: 8px;
  }
  div.select_status_content {
  }
}

#source_series_area{
  border: 1px #AAA solid;
  overflow: auto;
  width: 400px;
  height: 300px;
  background-color: #FFF;
}

#selected_series_area{
  border: 1px #AAA solid;
  overflow: auto;
  height: 150px;
  background-color: #FFF;
  margin-bottom: 1em;
}

.select_table_row {
  background-color: #FFF;
}

#eidt_series_dialog {
  select { width: 100%; }
  textarea { width: 100%; }
}

tr.selected {
  background-color: #BAE6FF;
}

.control-box {
  border: 1px #AAA solid;
  padding: 10px;
  margin-bottom: 1em;
}

#graph_series_area{
  //overflow: auto;
  max-width: 600px;
  //height: 200px;
  background-color: #FFF;
  ul.series_options {
    margin: 0px;
    li {
      padding: 8px 8px 0px 8px;
      border: 1px #AAA solid;
      list-style-type: none;
      div.series_option_header {
        margin: -8px -8px 0px -8px;
        padding: 4px 8px;
        background-color: #DDD;
        div.series_color_prev {
          width: 20px;
          height: 20px;
          border: 1px #AAA solid;
          border-radius: 3px;
          background-color: #FFF;
        }
      }
      div.series_option_form {
        margin: 8px 0px 8px 0px;
      }
    }
  }
}

.series_option_form {
  border: 1px #AAA solid;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 8px;
}

.table_area {
  border: 1px #AAA solid;
  overflow: auto;
  height: 400px;

  th.choice_toggle {
    width: 15px;
  }
  td.choice_toggle {
    width: 15px;
  }
  td.table_number {
    text-align: right;
    width: 30px;
  }
  th.table_number {
    text-align: right;
    width: 30px;
  }
  td.table_label {
    width: 100px;
    max-width: 150px;
    white-space: nowrap;
  }
  th.table_label {
    width: 100px;
    max-width: 150px;
    white-space: nowrap;
  }
  td.table_value {
    text-align: right; 
    width: 80px;
    max-width: 150px;
    white-space: nowrap;
    padding: 4px 12px;
  }
  th.table_value {
    text-align: left;
    width: 80px;
    max-width: 150px;
    white-space: nowrap;
    padding: 4px 12px;
  }
}

div#sidebar_owner {
  div.name {
    font-size: 1.2;
    font-weight: bold;
  }
  div.introduction {
    padding: 10px;
  }
}

div.home_shortcut {
  border: 1px #e3e3e3 solid;
  background-color: #FFF;
  line-height: 2;
  margin: 0px -10px -10px -10px;
  div.home_shortcut_tip {
    width: 33%;
    text-align: center;
    a {line-height:1em}
    div {line-height:1em}
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

div.text_format {
  margin-top: 8px;
  margin-bottomo: 8px;
}
div.controls_row {
  margin-bottom: 8px;
}

select.select-middle {
  width: 200px;
}

.dialog_h1 {
  width: 100%;
  font-size: 150%;
}
.dialog_h2 {
  width: 100%;
  border-bottom: 1px solid #AAA;
}
.dialog_group {
  margin-bottom: 8px;
}

#notify_message{
    display: none;
    position: fixed;
    top: 0;
    width: 80%;
    margin-left: 10%;
    z-index: 999;
    //padding: 25px 0 25px 1em;
    //margin-top: -100px;
    //border-bottom: 4px solid #008000;
    //background-color: rgba(159,242,2, 0.9);
    //color: #ffffff;
    //font-size: 13px;
    //font-weight: bold;
}

#graph_value_select {
  div.select_mode {}
  div.select_mode_check {
  }
  div.select_config {
    margin-left: 80px;
  }
}
