Welcome <%= @email %> !

You can confirm your account email through the link below:

<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>

--------------------
graphshare.net
URL: http://graphshare.net/
