<%#= form_for(@series, :url =>{:controller => @series_type.pluralize, :action => :create}, :html => {:id => 'series_config_form', :class => 'form-horizontal'}, :method => :post) do |f| %>
<%= form_for(@series, :html => {:id => 'series_config_form', :class => 'form-horizontal'}) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= f.hidden_field :series_type #元々フィルタ以外の系列もあることを想定していたが今は必要ないはずなので後で削除 2014-12-06 -%>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :unit %>
    </div>
  </div>

<% if @series.id.blank? -%>
  <div class="control-group">
    <%= f.label :category_axis_type, :class => "control-label" %>
    <div class="controls">
    <%= f.select :category_axis_type, options_for_select(MY_APP['category_axis_type'].map{|key,val| [val,key] }) %>
    </div>
  </div>
<% else -%>
  <div class="control-group">
    <%= f.label :category_axis_type, :class => "control-label" %>
    <div class="controls">
    <%= MY_APP['category_axis_type'][@series.category_axis_type] %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :category_axis_unit, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :category_axis_unit, class: 'input-mini' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :round_digit, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :round_digit, :type => 'number', :class => 'input-mini' %>
    </div>
  </div>
<% if false -%>
  <div class="control-group">
    <%= f.label :locked, :class => "control-label" %>
    <div class="controls">
    <%= f.check_box :locked %>
    </div>
  </div>
<% end -%>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, :size => 5, :rows => 10, :style => 'width:300px;' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit class: 'btn' %>
    </div>
  </div>
<% end %>
