<div class="control-group">
  <%= label_tag :title, 'タイトル', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :title, gconf[:title] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :width, '幅', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :width, gconf[:width] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :height, '高さ', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :height, gconf[:height] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :axis_x_width, 'X軸幅', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :axis_x_width, gconf[:axisXWidth] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :axis_x_len, 'X軸目盛本数', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :axis_x_len, gconf[:axisXLen] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :axis_y_width, 'Y軸幅', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :axis_y_width, gconf[:axisYWidth] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :axis_y_len, 'Y軸目盛本数', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :axis_y_len, gconf[:axisYLen] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :only_chart, 'チャートのみ表示', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :only_chart, gconf[:onlyChart] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :only_chart_width_title, 'チャートとタイトルのみ表示', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :only_chart_width_title, gconf[:onlyChartWidthTitle] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :padding_top, '上部余白', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :padding_top, gconf[:paddingTop] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :padding_bottom, '下部余白', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :padding_bottom, gconf[:paddingBottom] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :padding_left, '左余白', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :padding_left, gconf[:paddingLeft] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :padding_right, '右部余白', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :padding_right, gconf[:paddingRight] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :x_color, 'X軸の色', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :x_color, gconf[:xColor] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :y_color, 'Y軸の色', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :y_color, gconf[:yColor] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :x_scale_skip, 'X軸スキップ', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :x_scale_skip, gconf[:xScaleSkip] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :y_scale_skip, 'Y軸スキップ', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :y_scale_skip, gconf[:yScaleSkip] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :x_scale_rotate, 'X軸回転', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :x_scale_rotate, gconf[:xScaleRotate] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :y_scale_rotate, 'Y軸回転', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :y_scale_rotate, gconf[:yScaleRotate] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :use_val, 'チャートに値を表示', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :use_val, gconf[:useVal] %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :use_marker, 'マーカーを表示', :class => "control-label" %>
  <div class="controls">
  <%= text_field_tag :use_marker, gconf[:useMarker] %>
  </div>
</div>
