<tr>
  <td class="table_number"><%= row_counter + 1 -%></td>
  <td class="span2"><%= row.label -%></td>
  <td class="table_value"><%= !row.value.blank? ? number_with_precision(row.value, :precision => round_digit) : '' -%></td>
  <td><%= row.note -%></td>
</tr>
