<div class="table_area">
<table class="table table-condensed">
<thead>
<tr>
  <th>No</th>
  <th>ラベル<%= table.category_axis_unit.blank? ? "" : "(#{table.category_axis_unit})" %></th>
  <th>値<%= table.unit.blank? ? "" : "(" + table.unit + ")" %></th>
  <th>備考</th>
</tr>
</thead>
<tbody>
<%= render :partial => 'series/row', :collection => values, :locals => {:round_digit => table.round_digit} -%>
</tbody>
</table>
</div><!-- table_area -->
