<h1>Series</h1>

<%= paginate @series %>

<table class="table table-condensed">
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Name</th>
    <th>Updated at</th>
  </tr>

  <%= render partial: 'index_row', collection: @series %>

</table>

<%= paginate @series %>

