<div class="clearfix">
<div class="pull-right">
<% if signed_in? && current_user.id == @series.user_id -%>
<% if @series.is_filter -%>
<%= link_to '編集', edit_series_filter_path(@series), class: 'btn' %>
<% else -%>
<%= link_to '編集', edit_series_path(@series), class: 'btn' %>
<% end -%>
<%= link_to '削除', @series, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end -%>
</div>
</div><!-- clearfix -->

<div class="page-header">
<h1>
<%= @series.name %>
<% if @series.locked -%>
<i class="icon-lock" alt="非公開" title="非公開"></i>
<% end -%>
</h1>
<p>
  <%= link_to raw('<i class="icon-user"></i> ' + h(@series.user.profile.name_view)), login_member_home_path(login: @series.user.login)  %>

|
  作成日 <%= l @series.created_at, format: :short %>
|
  更新日 <%= l @series.updated_at, format: :short %>
  <% if @series.is_filter -%>
|
 <i class="icon-th-list"></i> 元の系列： <%= link_to "#{@series.filter_target.name}", login_series_show_path(id: @series.filter_target.id, login: @series.filter_target.user.login) %>
  <% end -%>
</p>
<%= render :partial => 'shared/sns_link', object: @series, locals: {url: login_series_show_url(login: @series.user.login, id: @series.id), name: @series.name} %>
<%= render :partial => 'shared/desc', :locals => {:series => @series, :series_type_for_desc => 'series'} -%>
</div><!-- page-header -->

<%= render :partial => 'shared/graph_area', :locals => {:series_type => 'series', :series => @series, :graph_config => @graph_config} %>

<% if signed_in_and_yours?(@series.user_id) -%>
<% unless @series.is_filter -%>
<ul class="nav nav-tabs">
  <li class="active" onclick="showEditSeriesDialog();">
    <a>編集</a>
  </li>
</ul><!-- nav-tabs -->
<%#= button_tag '編集', :type => 'button', :id => 'edit_series_button', :class => "btn", :onclick => "showEditSeriesDialog()" %>
<% end #unless -%>
<% end #if -%>
<div class="row">

  <div id="edit_series_dialog" class="span3">
<% if signed_in_and_yours?(@series.user_id) -%>
<% unless @series.is_filter -%>
<%= form_tag({:controller => :values, :series_id => @series.id, :action => :create}, id: :edit_series_form ) do  -%>

  <%= hidden_field_tag :series_id, @series.id, id: :series_id -%>

  <div class="controls_row">
  <%= button_tag '送信', :type => :submit, :class => "btn" -%>
  <%= button_tag 'プレビュー', :type => :button, :id => "preview_values", :class => "btn" -%>
  <%= button_tag '閉じる', :type => 'button', :id => 'close_series_button', :class => "btn", :onclick => "hideEditSeriesDialog()" %>
  </div>

  <div>
  区切り: <%= select_tag :delimitter, options_for_select({"カンマ(,)" => "comma", "タブ" => "tab"}), :style => "width:100px" %>
  </div>

  <div class="controls_row">
  項目軸種別: <%= MY_APP['category_axis_type'][@series.category_axis_type] %>
  </div>

  <div>
  <%= text_area_tag :values_by_text, @series.to_csv, :style => "width:100%;height:300px" -%>
  </div>
<% end #form_tag -%>
<% end #unless -%>
<% end #signed_in? -%>
  </div><!-- span -->

  <div id="series_table_area" class="span6">
<%= render :partial => 'table', :object => @series, :locals => {:values => @series.values} -%>
  </div><!-- series_table_area -->

</div><!-- row -->

<div id="preview_values_dialog" title="プレビュー">
  <div class="controls_row">
    <%= button_tag '更新', id: :commit_values, class: 'btn btn-primary' -%>
  </div>
<div id="preview_values_dialog_content">
</div>
</div><!-- preview_values_dialog -->

<%= javascript_include_tag 'series' %>
<%= javascript_include_tag 'graph_dialog' %>
<%= javascript_include_tag 'edit_series_collections' %>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @series.user -%>
<% end %>
