<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For SNS -->
    <%= yield :sns_metadata -%>

    <title><%= content_for?(:title) ? yield(:title) : "graphshare" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">graphshare</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">

          <% if user_signed_in? -%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to '新しい系列を作る', new_series_path %></li>
                <li><%= link_to '新しい系列フィルターを作る', new_series_filter_path %></li>
                <li><%= link_to '新しいテーブルを作る', new_series_collection_path %></li>
              </ul>
            </li>
            <li><%= link_to "Profile", "/profile/edit"  %></li>
            <li><%= link_to "Config", "/config/index"  %></li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else -%>
            <li>
              <%= link_to('Login', new_user_session_path)  %>  
            </li>
<% if MY_APP['signup_enabled'] -%>
            <li>
              <%= link_to "Sign up", '/users/sign_up' -%>
            </li>
<% end -%>

          <% end -%>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid"> -->
    <div class="container">
      <!-- <div class="row-fluid"> -->
      <div class="row">
        <div class="span3">

          <%= yield :owner_profile %>

          <div class="well well-small sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "系列", series_index_path  %></li>
              <li><%= link_to "テーブル", series_collections_path  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>

          <%= yield %>

        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; graphshare 2014</p>
      </footer>

    </div> <!-- /container -->

<!-- global template -->
<div id="notify_message">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div id="notify_message_text"></div>
</div>

<% if ENV['RAILS_ENV'] == 'production' -%>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5585435-6', 'auto');
  ga('send', 'pageview');

</script>
<% end -%>

<!-- for getStrWidth -->
<span id="ruler" style="visibility:hidden;position:absolute;white-space:nowrap;">&nbsp;</span>

  </body>
</html>
