<ul class="nav nav-tabs">
  <li class="<%= current_page?(url_for(controller: :members, action: :show, login: @user.login)) ? 'active' : '' %>">
    <%= link_to 'TOP', login_member_home_path(login: @user.login) %>
  </li>
  <li class="<%= current_page?(login_series_path(login: @user.login)) ? 'active' : '' %>">
    <%= link_to "系列(#{@user.series_count})", login_series_path(login: @user.login) %>
  </li>
  <li class="<%= current_page?(login_series_collections_path(login: @user.login)) ? 'active' : '' %>">
    <%= link_to "テーブル(#{@user.series_collections_count})", login_series_collections_path(login: @user.login) %>
  </li>
  <li class="<%= current_page?(login_graphs_path(login: @user.login)) ? 'active' : '' %>">
    <%= link_to "グラフ(#{@user.graphs_count})", login_graphs_path(login: @user.login) %>
  </li>

</ul><!-- nav-tabs -->
