<%= render :partial => 'header' %>
<%= render :partial => 'tabs' %>

<%= paginate @graphs %>

<div>
<table class="table table-striped">
<tr><th></th><th>名前</th><th class="span2">更新日</th></tr>
<%= render :partial => 'shared/own_graphs.html', :collection => @graphs, locals: {date_type: :updated_at} %>
</table>
</div>

<%= paginate @graphs %>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @user -%>
<% end %>

