<%= render :partial => 'header' %>
<%= render :partial => 'tabs' %>

<%= paginate @series %>

<div>
<table class="table table-striped">
<tr><th>種別</th><th>名前</th><th>更新日</th></tr>
<%= render :partial => 'shared/own_series.html', :collection => @series, locals: {date_type: :updated_at} %>
</table>
</div>

<%= paginate @series %>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @user -%>
<% end %>
