<%= render :partial => 'header' %>
<%= render :partial => 'tabs' %>

<div>
<p>新着の系列</p>
<table class="table table-striped">
<tr><th>種別</th><th>名前</th><th>作成日</th></tr>
<%= render :partial => 'shared/own_series.html', :collection => @series, locals: {date_type: :created_at} %>
</table>
</div>

<div>
<p>新着のテーブル</p>
<table class="table table-striped">
<tr><th>名前</th><th>作成日</th></tr>
<%= render :partial => 'shared/own_series_collections.html', :collection => @series_collections, locals: {date_type: :created_at} %>
</table>
</div>

<div>
<p>新着のグラフ</p>
<table class="table table-striped">
<tr><th></th><th>名前</th><th>作成日</th></tr>
<%= render :partial => 'shared/own_graphs.html', :collection => @graphs, locals: {date_type: :created_at} %>
</table>
</div>

<% content_for :owner_profile do %>
<%= render :partial => 'shared/owner', :object => @user -%>
<% end %>
